<div class="container">
    <h2 align="middle" style="color: rgb(230, 110, 12);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: bold;font-size: 30px;">The Inventory & Marketing Calculator</h2>
    <img src="assets/images/services.svg">
    <div id="main">
        
        <div class="flex-container">
            <div>
                <h4>Inventory</h4>
            <img src="assets/images/inventory.svg">
            <p id="prod">This is an Invoicing customers for services and products.It can track the products details and price.</p>
        </div><span class="spacer"></span>
        <div>
            <h4>Calculator</h4>
            <img src="assets/images/calci.svg"><p id="prod">This Calculator helps to calculate the Profit and Loss by Total Expences and Total Cost.</p>
        
       </div>
       </div>
       



    </div>
    
    </div>